<?xml version="1.0"?>
<config>
    <modules>
        <Ballal_Customer>
            <version>2.0.1</version>
        </Ballal_Customer>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_grid>Ballal_Customer_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ballal_customer>
                <class>Ballal_Customer_Helper</class>
            </ballal_customer>
        </helpers>
        <models>
            <ballal_customer>
                <class>Ballal_Customer_Model</class>
            </ballal_customer>
        </models>
        <resources>
            <ballal_customer_setup>
                <setup>
                    <module>Ballal_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </ballal_customer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ballal_customer>
                    <file>ballal_customer.xml</file>
                </ballal_customer>
            </updates>
        </layout>
    </frontend>
</config>