<config>
    <modules>
        <Ballal_Cms>
            <version>0.1.0</version>
        </Ballal_Cms>
    </modules>
    <global>
        <models>
            <cms_mysql4>
                <class>Ballal_Cms_Model_Mysql4</class>
            </cms_mysql4>
        </models>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <Ballal_Cms_cms_page_edit_form_add_enctype>
                        <type>singleton</type>
                        <class>Ballal_Cms_Model_Observer</class>
                        <method>addFormEnctype</method>
                    </Ballal_Cms_cms_page_edit_form_add_enctype>
                </observers>
            </adminhtml_block_html_before>
            <cms_page_prepare_save>
                <observers>
                    <Ballal_Cms_cms_page_prepare_save>
                        <type>singleton</type>
                        <class>Ballal_Cms_Model_Observer</class>
                        <method>beforeSave</method>
                    </Ballal_Cms_cms_page_prepare_save>
                </observers>
            </cms_page_prepare_save>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <ballal_page_edit_tab_content>
                        <type>singleton</type>
                        <class>Ballal_Cms_Model_Observer</class>
                        <method>cmsField</method>
                    </ballal_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
        </events>
        <resources>
            <cms_setup>
                <setup>
                    <module>Ballal_Cms</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cms_setup>
            <cms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cms_write>
            <cms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cms_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <ballal_cms_save_page>
                        <type>singleton</type>
                        <class>cms/observer</class>
                        <method>saveSearchImage</method>
                    </ballal_cms_save_page>
                </observers>
            </cms_page_prepare_save>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <ballal_cms_prepare_form>
                        <type>singleton</type>
                        <class>cms/observer</class>
                        <method>prepareSearchImageForm</method>
                    </ballal_cms_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
    </adminhtml>
</config>